# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# VSCode settings
.vscode/

# Logs
*.log

# CSV and OWL data files (custom for this project)
data/*.csv
data/*.joblib
ontology/*.owl

